.place__title {
    max-width: 457px;
    min-width: 457px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;  
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place__title {
        max-width: 440px;
        min-width: 440px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .place__title   {
        max-width: 330px;
        min-width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media all and (max-width: 767px) {
    .place__title {
        padding-left: 13px;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        min-width: 288px;
        margin-top: 12px;
    }
}

@media all and (max-width: 374px) {
    .place__title {
        padding-left: 21px;
    }
}