.place__image-container {
    display: flex;
    margin-top: 50px;
}

@media all and (max-width: 1023px) {
    .place__image-container  {
        margin-top: 37px;
    }
}

@media all and (max-width: 767px) {
    .place__image-container  {
        flex-direction: column;
        margin-top: 37px;
    }
}

@media all and (max-width: 374px) {
    .place__image-container  {
        margin-top: 30px;
    }
}