.page__video {
    margin: 108px auto 0;
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .page__video {
        margin-top: 59px;
        
    }
}

@media all and (max-width: 767px) {
    .page__video  { 
        margin-top: 48px;
    }
}

@media all and (max-width: 374px) {
    .page__video  { 
        margin-top: 68px;
    }
}