.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    padding-top: 20px;
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-top: 20px;
    }
}

@media all and (max-width: 767px) {
    .footer__copyright  {
        text-align: left;
        margin-top: 0;
        padding-top: 0;
    }
}