.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;  
    color: #FFFFFF;
    margin: 36px auto 72px;
    max-width: 583px;
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .lead__subtitle  {
        max-width: 670px;
    }
}

@media all and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 340px;
        margin-top: 7px;
        margin-bottom: 33px;
    }
}