@import url('./__description/place__description.css');
@import url('./__image-container/place__image-container.css');
@import url('./__image/place__image.css');
@import url('./__link/place__link.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__text/place__text.css');
@import url('./__title-container/place__title-container.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');

.place {
    margin: 0 0 86px;
    position: relative;
    font-family: 'Inter', 'Helvetica', 'Arial', 'sans-serif';
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
}

.place:last-of-type {
    margin: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place {
        margin-bottom: 72px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .place:nth-of-type(1)  {
        margin-bottom: 65px;

    }
    .place:nth-of-type(2) {
        margin-bottom: 37px;
    }
    .place:nth-of-type(3) {
        margin-bottom: 37px;
    }
    .place:nth-of-type(4) {
        margin-bottom: 9px;
    }
}

@media all and (max-width: 767px) {
    .place { 
        margin-bottom: 20px;
    }
}

@media all and (max-width: 374px) {
    .place { 
        margin-bottom: 13px;
    }
}

