.page__cover {
    margin: 80px auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .page__cover {
        margin-top: 88px;
    }
}


@media all and (min-width: 768px) and (max-width: 1023px){
    .page__cover {
        margin-top: 60px;
    }
}

@media all and (max-width: 767px) {
    .page__cover  {
        margin-top: 0;
    }
}